</div>

<script async type="application/javascript" src="https://a.exdynsrv.com/ad-provider.js"></script>
<ins class="adsbyexoclick" data-zoneid="4700996"></ins>
<script>
  (AdProvider = window.AdProvider || []).push({
    "serve": {}
  });
</script>

</body>
<script src="/js/main.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z499BPC7DN"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-Z499BPC7DN');
</script>

</html>