<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <meta
      name="exoclick-site-verification"
      content="b2ee881b510c3d5edb1b8df8b24ccde3"
    />
    <title>OSS117 Best punchlines</title>
  </head>

  <!--   Conception Kenny Caldieraro - Web Playground                                                                                                  
                      `. ___
                     __,' __`.                _..----....____
         __...--.'``;.   ,.   ;``--..__     .'    ,-._    _.-'
   _..-''-------'   `'   `'   `'     O ``-''._   (,;') _,'
 ,'________________                          \`-._`-','
  `._              ```````````------...___   '-.._'-:
     ```--.._      ,.                     ````--...__\-.
             `.--. `-`                       ____    |  |`
               `. `.                       ,'`````.  ;  ;`
                 `._`.        __________   `.      \'__/`
                    `-:._____/______/___/____`.     \  `
                                |       `._    `.    \
                                `._________`-.   `.   `.___
                                                   `------'`                                              
-->

  <body>
    <div class="container"></div>
  </body>
</html>
