<%- include('./partials/header') %>

<header class="title">
  <h1>OSS<strong>117</strong></h1>
  <h2>Le Caire, nid d'API</h2>
  <aside>
    <button class="button-49" id="getQuote">Get quote</button>
    <p class="quote"></p>
    <p class="author"></p>
  </aside>
</header>
<img src="/images/bg.png" alt="logo oss 117">

<%- include('./partials/footer') %>